@include keyframes(fadeIn) {
  from {
    @include transform(translateY(-20px));
    opacity: 0;
  }
  to {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@mixin animation--fadedown($delay) {
  // Apply the fadeIn keyframes. Each animation
  // will take 0.3s and have an ease-in-out
  @include animation(fadeIn 0.3s ease-in-out);
  // This animation should only play once
  @include animation-iteration-count(1);
  // Make sure the element maintains it's
  // final visual state (i.e. 100% opacity)
  @include animation-fill-mode(forwards);
  // Delay - don't start the animation until we say so
  @include animation-delay(#{$delay}s);
}


#create {

  padding: 120px 0 80px;
  opacity: 0;
  @include animation--fadedown(0);

  @include media("≥desktop") {
    height: 100%;
    padding: 0;
  }

  .wizard{
    color: $primary-color;
    background-color: $theme-color;
    //@include linear-gradient(to right, #e4f5fc 0%,#bfe8f9 0%,#2ab0ed 100%);
    float: left;
    opacity: 0.8;
    padding: 20px;
    box-shadow: 8px 8px 10px -2px rgba(0,0,0,0.75);

    @include media("≥desktop") {
      position: absolute;
      top: 50%;
      left: 0;
      @include transform(translateY(-60%));
    }

    .step {
      .title {
        text-align: center;
      }

      label {
        font-weight: normal;
        font-size: 1.1em;
      }
    }

    #step1{
      .themes {
        //padding-top: 50%;
        margin-top: 8px;
        margin-bottom: 8px;
        border: 8px solid white;
        padding: 0px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .overlay {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
        font-size: 4em;
        padding-top: 20%;

        span{
          color: $primary-color;
        }
      }

    }

    a.previous, a.next{
      font-size: 2em;
    }

  }

  .btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
