nav {

  background-color: #101010;
  margin-bottom: 0;
  padding: 30px 0 7px;
  z-index: 999;

  @include transition (all ease 0.2s);

  @include media("≥desktop") {
    background-color: transparent;
  }

  .site-logo {
    position: relative;
    display: block;
    padding: 9px 0;
    z-index: 2;
    font-size: 3.2em;
  }

  .pull-left {
    float: left!important;
  }

  .pull-right {
    float: right!important;
  }

  .menu-trigger-btn {
    position: relative;
    font-size: 3.15em;
    color: $primary-color;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding: 0 5px;
    z-index: 2;

    .icon-nav{
      padding: 0 4px;
    }

    .icon-close{
      @extend .icon-nav;
      display: none;
    }

  }

  .menu-wrapper {
    background-color: #101010;
    border-top: 1px solid;
    border-color: #202020;
    width: 100%;
    padding: 30px 0 7px;
    text-align: center;

    .nav{
      float: none;
      padding-right: 0;
    }

    li {
      list-style: none;
      @include media("≥desktop") {
        float: left;
      }

      a {
        display: block;
        color: $primary-color;
        font-size: 1.2em;
        text-transform: uppercase;
        padding: 10px 0;

        @include media("≥desktop") {
          padding: 17px 20px;
        }

        &:hover, &:focus{
          background-color: transparent !important;
          color: $theme-color !important;
        }
      }
    }

    @include media("≥desktop") {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: transparent;
      border-top: 0 none;
      text-align: left;

      .nav{
        float: right;
        padding-right: 30px;
      }

      @include transition (all ease 0.3s);
      @include transform (translateY(-100%));
    }

  }
}

nav.xf-show{
  .menu-trigger-btn {
    .icon-nav{
      display: none;
    }
    .icon-close{
      display: block;
    }
  }

  .menu-wrapper{
    visibility: visible;
    height: auto;
    display: block;
    @include media("≥desktop") {
      @include transform (translateY(0));
    }
  }
}
