html{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body{
    color: #555;
    margin: 0;
    padding: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
}

	body p, body label, body li, body input, body select, body div, body button{
		font-family: "Roboto", sans-serif;
    	font-weight: 300;
	}

	body h1, body h2, body h3{
    	font-family: "Roboto", sans-serif;
    	font-weight: 700;
    }

    body .alert{
	    border-radius: 0;
	    padding: 10px 10px;
	    font-size: 13px;
    }

a, a:hover{
	cursor: pointer;
	color: #3299BB;
	text-decoration: none;
}

input.error{
	border: 1px solid #A4110A;
}

body input.form-control[type=text],
body input.form-control[type=number],
body input.form-control[type=password],
body input.form-control[type=email],
body select.form-control,
body textarea.form-control{
	font-size: 15px;
	box-shadow: none;
	background: none;
	outline: none;
	border: none;
	border: 1px solid #ddd;
	border-radius: 0;
	padding: 5px 10px;
	height: 45px;
    background-color: transparent;
    -webkit-appearance: none;
	-webkit-border-radius: 0px;
}

	body input.form-control[disabled]{
		background-color: #f8f8f8;
	}

	body select.form-control{
		background: url('../images/down.png') no-repeat right 12px;
		background-size: 20px;
	}

	body textarea.form-control.large{
		height: 250px !important;
	}

	body p.help-block{
		font-size: 12px !important;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

.primary-button, .secondary-button, .tertiary-button{
    display: inline-block;
    border: 1px solid #f0f0f0;
    font-weight: normal;
    color: #fff;
    font-size: 13px;
    margin: 0 5px 0 0;
    padding: 10px 20px;
    cursor: pointer;
    padding: 8px 20px;
    font-weight: 300;
    outline: none;
    border-radius: 0;
    background-color: #fff;
    color: #3299bb;
    text-transform: uppercase;
}

	.primary-button{
		background-color: #3299bb;
		color: #fff;
		font-weight: bold;
	}

	.primary-button[disabled=disabled]{
		background-color: #f8f8f8;
		border-color: #ddd;
		color: #ddd;
	}

    .primary-button:hover{
        background-color: #2A7F9B;
    }

    .primary-button i, .secondary-button i, .tertiary-button i{
    	margin-right: 5px;
    }

.offset-left{
    margin-left: 20px;
}

/* customize tooltips */
.tooltip-inner{
    background-color: #444;
    padding: 5px 10px;
    border-radius: 0;
}

.tooltip-arrow{
    display: none;
}

/* form */
.main form{
	margin: 20px;
}

	.main .form-group{
		max-width: 450px;
	}

	.main .form-vertical{
		padding-bottom: 50px;
	}

		.main .form-vertical .form-group{
			border-bottom: 1px solid #f0f0f0;
			padding-bottom: 20px;
		}

		.main .form-vertical .form-group:last-child{
			border-bottom: none;
		}

		.main .form-vertical .help-block{
			margin-bottom: 0;
		}

	.main .form-group label{
		color: #888;
	}

	.main p{
		padding-bottom: 20px;
		line-height: 25px;
	}

	.input-2{
		width: 65px;
	}

	.input-4{
		width: 75px;
	}

	.inline{
		display: inline-block;
	}

	.inline-actions button{
		margin-right: 10px;
	}

		.inline-actions span{
			color: #888;
		}

	/* tables */
	.main .form-group table{
		margin: 0;
	}

	.main .form-group table th small{
		font-weight: normal;
		color: #aaa;
		margin-left: 5px;
	}

/* .read-only.table */
.read-only-table small, .read-only-table span{
	display: block;
}

	.read-only-table small{
		color:#888;
		margin: 10px 0;
		text-transform: uppercase;
	}

	.read-only-table a{
		margin-right: 10px;
	}

	body .read-only-table td, body .read-only-table th{
		padding: 15px 15px !important;
	}

	body .read-only-table th{
		background-color: #f8f8f8;
		color: #777;
		font-weight: normal;
	}

/* modals */
body .modal menu{
	margin-top: -10px !important;
	padding: 0 15px !important;
}

body .modal .check-alert{
	margin-top: 25px;
}

body .modal .check-alert label{
	color: #111;
}

body .modal .check-alert input{
	margin-right: 10px;
}

body .modal-header{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

	body .modal-header h3{
		padding-top: 0;
		margin-top: 10px;
		font-size: 1.4em;
	}

	body .modal-header h3 small{
		text-transform: uppercase;
		margin-left: 15px;
	}

	body .modal-header .close{
		margin-top: 7px;
	}

    body .modal-footer{
	    margin-top: 0;
    }

    	body .modal-body form{
	    	margin: 0;
	    	padding: 0;
    	}

    	body .modal-body label{
	    	color: #888;
    	}

    	body .modal-footer .tertiary-button{
	    	float: left;
    	}

		body .modal-footer .primary-button{
		    margin-left: 10px;
		}

	body .modal .modal-info{
		color: #888;
		margin-bottom: 25px;
	}

	body .modal .help-block{
		margin-bottom: 0;
	}

	body .modal .form-group{
		padding-bottom: 15px;
		margin-bottom: 10px;
		position: relative;
	}

		body .modal .form-group.pull-up{
			margin-top: -20px;
		}

		body .modal .form-group.no-border{
			border-bottom: none;
			padding-bottom: 0;
		}

		body .modal .form-group:last-child{
			border-bottom: none;
		}

		body .modal .table td span.fa{
			color: #aaa;
			margin-left: 10px;
		}

		body .modal .input-select{
			position: absolute;
			top: 26px;
			right: 5px;
			z-index: 5;
			border-left: 1px solid #ddd;
			height: 43px;
			width: 43px;
			text-align: center;
			color: #888;
			font-weight: bold;
		}

			body .modal .input-select button{
				outline: none !important;
				box-shadow: none !important;
			}

		body .modal .input-select.option2{
			position: absolute;
			top: 26px;
			right: 40px;
		}

		body .modal .input-select .dropdown-toggle{
			background-color: #fff;
			font-size: 20px;
		}

			body .modal .input-select .dropdown-toggle i{
				font-size: 15px;
			}

		body .modal .input-select .dropdown-menu small{
			display: block;
			color: #aaa;
			font-size: 11px;
			text-transform: uppercase;
		}

		body .modal .input-select .dropdown-menu{
			border-radius: 0;
			height: 200px;
			width: 300px;
			overflow: auto;
			margin-right: -5px;
			margin-top: 0;
		}

		body .modal .input-select .dropdown-menu li{
			border-bottom: 1px solid #f0f0f0;
		}

			body .modal .input-select .dropdown-menu li a{
				padding-top: 5px;
				padding-bottom: 5px;
			}

		body .modal .form-group .sp-replacer{
			position: absolute;
			top: 25px;
			right: 0;
			border: 1px solid #ddd;
			background-color: #fff;
			border-left: 1px solid transparent;
			background-color: #f8f8f8;
			padding: 12px 0 12px 5px;
		}

			body .modal .form-group .sp-replacer .sp-dd{
				display: none;
			}

			body .modal .form-group .sp-preview{
				border: 1px solid #aaa;
			}

	body .modal .modal-lg .modal-content{
		min-height: 500px;
	}

/* header */
header.slideout{
    position: fixed;
    top: 0;
    left: 0;
	margin-left: -350px;
	width: 350px;
	background-color: #f8f8f8;
	color: #333;
	min-width: 35px;
	height: 100%;
	overflow: scroll;
	border-right: 1px solid #f0f0f0;
    -webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;
	-ms-transition: .2s all ease;
	transition: .2s all ease;
	z-index: 1000;
}

	#header-overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.25);
		z-index: 999;
		display: none;
	}

	header.slideout .profile{
		position: absolute;
		top: 5px;
		left: 5px;
		height: 45px;
		line-height: 45px;
		z-index: 10;
	}

		header.slideout .profile .photo{
			float: left;
			display: inline-block;
			width: 45px;
			height: 45px;
			background-size: cover;
			border-radius: 50%;
			margin-right: 5px;
			border: 2px solid #f0f0f0;
		}

		header .profile a{
			color: #111;
			text-transform: uppercase;
		}


    header.slideout .sub-menu a{
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #aaa;
        font-size: 1em;
        margin-left: 0;
		border-radius: 50%;
    }

         header.slideout .sub-menu a:hover{
             text-decoration: none;
             color: #111;
         }

         header.slideout .sub-menu a.signout:hover{
	         background-color: #A4110A;
	         color: #fff;
         }

         header.slideout .sub-menu a.republish:hover{
	         background-color: #7ec57e;
         }

	header.slideout .sub-menu{
		position: absolute;
		top: 7px;
		right: 5px;
		z-index: 10;
	}

	header.slideout .sub-menu a.hide-menu{
		background-color: #ddd;
		color: #fff;
		border-color: #555;
	}

		header.slideout .sub-menu a.hide-menu:hover{
			background-color: #aaa;
		}

    body.show-nav header{
        margin-left: 0;
		box-shadow: 30px 30px 100px rgba(0,0,0,.2);
    }

    body.show-nav #header-overlay{
        display: block;
    }

    header.slideout ul, header.slideout li{
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #f0f0f0;
    }

    header.slideout h2{
    	position: relative;
	    color: #aaa;
	    font-size: 13px;
	    font-weight: normal;
	    padding: 0 0 0 10px;
	    margin: 0;
	    text-transform: uppercase;
    }

    	header.slideout h2 a{
    		position: absolute;
    		bottom: 10px;
    		right: 10px;
    		display: inline-block;
	    	color: #aaa;
	    	font-size: 11px;
	    	font-weight: normal;
	    	text-transform: uppercase;
    	}

    	header.slideout h2 a i{
	    	color: #888;
	    	font-size: 11px;
	    	margin-left: 5px;
    	}

    	header.slideout h2.basic{
	    	padding: 75px 0 10px 10px;
    	}

    	header.slideout h2.advanced{
	    	padding: 20px 0 10px 10px;
	    }

    header.slideout ul{
        border-top: 1px solid #ccc;
    }

    header.slideout li>a{
    	font-family: "Roboto", sans-serif;
    	font-weight: 300;
        font-size: 16px;
        display: block;
        padding: 10px 15px;
        color: #111;
        font-size: 1.1em;
    }

        header.slideout li>a i{
            display: inline-block !important;
            color: #aaa;
            margin-right: 10px;
            width: 20px !important;
        }

        header.slideout li.active a{
            background-color: #3299BB;
            color: #fff;
        }

        	header li.active i{
	        	color: #fff;
        	}

        header.slideout li>a:hover{
            list-style: none;
            color: #fff;
            text-decoration: none;
            background-color: #3299bb;
        }

            header.slideout li a:hover i{
                color: #fff;
            }

	    header.slideout li small{
		    display: block;
		    padding: 0 5px 0 50px;
	    }

	    header.slideout li small.spacer{
		    margin-top: 2px;
	    }

	    header.slideout li small label{
		     color: #888;
		     margin-right: 5px;
	    }

/* .main */
section.main{
	padding-bottom: 50px;
	z-index: 10;
}

	section.main .alert{
		margin: 20px 20px 0 20px;
	}

	section.main .alert a{
		margin-left: 15px;
		background: #fff;
		padding: 5px 15px;
		border-radius: 12px;
		border: 1px solid #ccc;
		color: #428bca;
		text-decoration: none;
	}

		section.main .alert a:hover{
			background-color: #f8f8f8;
			border: 1px solid #aaa;
		}

		#account-message{
			display: none;
		}

    section.main table{
	    margin: 20px;
	    border-bottom: 1px solid #ddd;
	    border-left: 1px solid #ddd;
	    border-right: 1px solid #ddd;
	    width: calc(100% - 40px);
    }

    	section.main table th{
	    	border-right: 1px solid #ddd;
    	}

    	section.main table td.status a{
	    	margin-left: 10px;
    	}

	section.main table .number{
		text-align: right;
	}

/* menu */
section.main menu, .modal menu{
	position: relative;
	background-color: #f8f8f8;
	border-bottom: 1px solid #f0f0f0;
	margin: 0;
	padding: 0 20px;
	line-height: 50px;
	height: 50px;
}

	section.main menu .menu-actions, .modal menu .menu-actions{
		position: absolute;
		top: 2px;
		right: 13px;
	}

	section.main menu i, .modal menu i{
		margin-left: 5px;
		color: #888;
		padding: 4px 5px 0 5px;
		font-size: 16px;
	}

	section.main menu .active i, .modal menu .active i{
		color: #81b841;
	}

	section.main menu a:hover i, .modal menu a:hover i{
		color: #81b841;
	}

	section.main menu .dropdown-menu, .modal menu .dropdown-menu{
		border-radius: 0;
		box-shadow: none;
		border: 1px solid #f0f0f0;
	}

		section.main menu .dropdown-menu a, .modal menu .dropdown-menu a{
			color: #aaa;
			font-size: 13px;
		}

	section.main menu .dropdown, .modal menu .dropdown{
		margin: 0;
	}

	section.main menu .dropdown .btn, .modal menu .dropdown .btn{
		border-radius: 0;
		border-color: #ddd;
	}

	section.main menu .dropdown .caret, .modal menu .dropdown .caret{
		margin-left: 5px;
		color: #ddd;
	}

	section.main menu .dropdown-menu .secure{
		margin-left: 5px;
		color: #ddd;
	}

	section.main menu .dropdown-menu a, .modal menu .dropdown-menu a{
		color: #888;
		padding: 10px 15px;
		min-width: 205px;
	}

/* nav */
section.main nav{
    background-color: #3299bb;
    height: 64px;
    margin: 0;
    padding: 0;
    position: relative;
}

    section.main nav .show-menu, section.main nav .back{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        background: #3299bb url('../images/menu.png') no-repeat 20px 23px;
        background-size: 25px;
    }

    	section.main nav .back{
	        background: #3299bb url('../images/back.png') no-repeat 20px 20px;
	        background-size: 15px;
		}

    	section.main nav .show-menu:hover, section.main nav .back:hover{
            background-color: #1d7b9a;
            text-decoration: none;
        }

	section.main h1{
		margin: 0;
		padding: 0 0 0 68px;
		line-height: 64px;
		height: 64px;
		font-size: 18px;
		color: #fff;
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	section.main nav h2{
		position: absolute;
		top: 1px;
		right: 20px;
		margin: 0;
		padding: 0;
		line-height: 64px;
		height: 64px;
		font-size: 15px;
		color: #fff;
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	section.main nav .static-title{
        display: inline-block;
        padding: 0 30px;
		margin: 0 0 0 50px;
		background: #E9E9E9;
        border-bottom: 3px solid #FF9900;
        height: 50px;
        line-height: 47px;
        font-size: 1em;
	}

		section.main nav .static-title i{
			margin: 0 7px;
		}

    section.main nav .primary-action{
        position: absolute;
        display: block;
        right: 52px;
        top: 15px;
        height: 35px;
        white-space: nowrap;
        font-size: 15px;
        padding: 0 15px;
        color: #fff;
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.25);
        font-size: 14px;
        font-weight: 300;
        width: auto;
        text-align: center;
    }

    	section.main nav .primary-action:hover{
	    	border: 1px solid #fff;
    	}

    section.main nav .more{
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        height: 65px;
        font-size: 1em;
        padding: 0;
        color: #fff;
        font-size: 14px;
        width: 50px;
        text-align: center;
    }

    	 section.main nav .more button{
	    	 height: 65px;
	    	 line-height: 75px;
	    	 width: 50px;
	    	 margin: 0;
	    	 padding: 0;
			 background-color: transparent;
			 border: none;
		}

        section.main nav .more.open{
            text-decoration: none;
			background: #1d7b9a;
        }

        section.main nav .more i{
            font-size: 22px;
        }

        section.main nav .dropdown-menu{
	        border-radius: 0;
	        border: 0;
			background: #1d7b9a;
			margin: -1px 0 0 0;
        }

        	section.main nav .dropdown-menu li:hover, section.main nav .dropdown-menu a:hover{
	        	background: none !important;
        	}

        	section.main nav .dropdown-menu li a{
	        	color: #fff;
        	}

        	section.main nav .dropdown-menu li a{
	        	padding: 10px 15px;
	        	font-size: 14px;
	        	font-weight: 300;
        	}


    section.main .actions{
        position: fixed;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        padding: 10px 20px;
        width: 100%;
        background-color: #fff;
        z-index: 900;
    }

	/* flipsnap */
	.main nav .fs-container{
		overflow: hidden;
		margin: 0 50px 0 50px;
	}

		.main nav .fs-container.full{
			margin: 0 0 0 50px;
		}

		.main nav .fs{
			width: 3000px;
		}

		.main nav .fs ul{
			margin-left: 0;
		}

		a.fs-next, a.fs-prev{
		    position: absolute;
		    color: #fff;
		    background-color: rgba(255,255,255,0.1);
		    height: 50px;
		    line-height: 50px;
		    z-index: 10;
		    padding: 0 10px;
		    text-decoration: none;
		}

			a.fs-next i, a.fs-prev i{
				color: #fff !important;
			}

		    a.fs-next:hover, a.fs-previous:hover{
		        opacity: 1;
		    }

		    a.fs-next{
		        top: 0;
		        right: 0;
		    }

		    .main nav .fs-container.full a.fs-next{
			    right: 0;
		    }

		    a.fs-prev{
		        top: 0;
		        left: 0;
		        display: none;
		    }


	/* lock */
	section.main nav .lock, section.main nav li.active .lock{
		display: none;
	}

	section.main nav li.is-secure .lock{
		right: auto !important;
		left: 0 !important;
		display: inline-block;
		color: #fff;
		margin-left: 7px;
		color: #ccc;
	}

		section.main nav li.is-secure.active .lock{
			color: #aaa;
		}

div.content-row{
	box-sizing: border-box;
	padding: 0 20px;
}

fieldset{
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

	fieldset:last-child{
		margin-bottom: 0;
		border-bottom: 0;
	}

body .read-only{
	display: block;
	padding-top: 8px;
}

	body .read-only span, body .read-only small{
		font-weight: normal;
		display: block;
		margin: 0 0 5px 0;
		padding: 0;
		height: auto;
		line-height: normal;
	}

	body .read-only a{
		margin-right: 15px;
	}

	body .read-only small{
		color: #888;
		text-transform: uppercase;
	}

	body .form-group .loading{
		display: block;
		margin-top: 8px;
		color: #aaa;
	}

		body .form-group .loading i{
			margin-right: 5px;
		}

	body .form-stacked-bottom{
		margin-top: 10px;
	}


span.help-block{
	color: #888;
	font-size: 0.9em;
}

h1 .btn-primary{
	position: absolute;
	top: 11px;
	right: 20px;
}

div.content h1{
	color: #888;
	font-size: 24px;
	padding-bottom: 10px;
}

p.inline-status, p.inline-status i{
	color: #888;
}

p.inline-status{
	padding: 0 0 0 20px;
}

div#actions{
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	bottom: 0;
	background: #fff;
	padding: 10px 10px;
	margin: 0;
	border-top: 1px solid #d0d0d0;
	z-index: 100;
}

	div#actions button, div#actions input, div#actions a{
		margin-right: 10px;
	}

	div.dialog, div.immersive, div.immersive-actions{
		display: none;
	}

/* select list */
div.select{
  overflow:auto;
  overflow-y:scroll;
  height: 150px;
  margin: 0;
  border: 1px solid #ccc !important;
  border-radius: 0;
}

	div.select.select-lg{
		height: 300px;
	}

	div.select.select-xl{
		height: 500px;
	}

div.select.small{
  height: 200px;
}

div.select.mini{
  height: 150px;
}

div.select ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.select ul li.parent{
  color: #fff;
  background: #888;
  font-weight: bold;
  cursor: default;
}

div.select ul li{
  display: block;
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

div.select ul li i{
    color: #aaa;
    margin-right: 5px;
}

div.select ul li small{
    color: #888;
    font-size: 0.85em;
    float: right;
}

div.select ul li:hover{
  background: #f0f0f0;
  cursor: pointer;
}

div.select ul li.selected{
  background: #fbec5d;
  font-weight: bold;
}

    div.select ul li.selected i{
        color: #888;
    }


div.select em{
	display: block;
	font-style: normal;
	color: #888;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

div.select .select-block{
	display: inline-block;
	margin-left: 5px;
}

/* table */
.table tr.active td{
	background-color: #FDFCCE !important;
}

.table tr.active a.switch{
 	display: none;
}

.table .action{
	text-align: center;
}

.table .action i{
	font-size: 17px;
}

.table .action .remove i{
	color: #B11623;
}

.table-loading{
    color: #ccc;
    text-transform: uppercase;
    font-size: 12px;
}

section.main .table table{
	margin-top: 0;
	width: 100%;
}

	section.main .table table td:first-child{
		padding-left: 0;
	}

	section.main .table table td:last-child{
		padding-right: 0;
	}

	section.main .table table tr:first-child td{
		border-top: 0;
		padding-top: 0;
	}

	section.main .table table tfoot tr td{
		border: none;
	}


/* dropdown */
body .btn-group.open .dropdown-toggle{
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .dropdown-menu{
	-webkit-box-shadow: none;
	box-shadow: none;
}

	body .dropdown-menu li, body .dropdown-menu a{
		color: #888;
	}

	body .dropdown-menu li:hover, body .dropdown-menu a:hover{
		background-color: #f8f8f8;
		color: #888;
	}

	body .dropdown-menu li{
		position: relative;
	}

	body .dropdown-menu li.active, body .dropdown-menu li.active a{
		background-color: #888;
		color: #fff;
	}

		body .dropdown-menu li a{
			padding-left: 5px;
			margin-left: 5px;
		}

		body .dropdown-menu li .remove{
			position: absolute;
			top: 2px;
			right: 5px;
			z-index: 10;
			cursor: pointer;
		}

		body .dropdown-menu li i:hover{
            color: #A4110A;
        }

/* codemirror */
body .CodeMirror{
    border: 1px solid #ccc;
    height: 550px;
    margin: 0;
}

	body .CodeMirror div{
		font-family: 'Inconsolata', 'Courier', sans-serif;
	}

.codemirror-block{
	margin: 20px 20px 10px 20px;
}

.template-insert{
	margin: 10px 20px;
	color: #888;
	font-size: 0.9em;
}

/* segmented control */
.segmented-control{
	display: block;
	text-align: left;
	margin: 20px 20px 0 20px;
	padding: 0;
	height: 35px;
	max-width: 550px;
}

	.modal .segmented-control{
		max-width: none;
		margin-bottom: 20px;
		margin-top: 0;
	}

	.segmented-control li{
		border-top: 1px solid #81b841;
		border-bottom: 1px solid #81b841;
		border-right: 1px solid #81b841;
		display: block;
		float: left;
		height: 40px;
		padding: 0;
		width: 20%;
	}

		.segmented-control.count-3 li{
			width: 33.3333333%;
		}

		.segmented-control.count-2 li{
			width: 50%;
		}

		.segmented-control li:first-child{
			border-left: 1px solid #81b841;
		}

		.segmented-control li a{
			display: block;
			text-align: center;
			color: #81b841;
			height: 40px;
			line-height: 40px;
			margin: 0;
			padding: 0;
		}

	.segmented-control .active{
		background-color: #81b841;
	}

		.segmented-control .active a{
			color: #fff;
		}

/* contextual validation */
.respond-validating,
.respond-valid,
.respond-invalid{
	position: absolute;
	top: 37px;
	right: 10px;
	background-color: #3299bb;
	color: #fff;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	margin-left: 5px;
	display: none;
}

	.respond-valid{
		background-color: #7ec57e;
	}

	.respond-invalid{
		background-color: #A4110A;
	}

	.respond-validating.visible,
	.respond-valid.visible,
	.respond-invalid.visible{
		display: inline-block;
	}


/* page-specific */
#test-page .fa-check-circle{
	color: #7ec57e;
	background-color: #fff;
	padding: 2px;
	border-radius: 2px;
}

#test-page .fa-times-circle{
	color: #A4110A;
	background-color: #fff;
	padding: 2px;
	border-radius: 2px;
}

#menu-republish-message{
	display: none;
}

#settings-page .shipping-type{
	display: none;
}

#profile-page .profile-view{
	position: relative;
	padding: 0 20px 20px 100px;
}

	#profile-page .profile-view h2{
		font-size: 20px;
		text-transform: uppercase;
	}

	#profile-page .profile-view p{
		color: #888;
	}

#profile-page button.update-photo{
	position: absolute;
	box-sizing: border-box;
	left: 10px;
	width: 65px;
	height: 65px;
	padding-top: 4px;
	background-color: #fff;
	border: 2px dashed #eee;
	border-radius: 50%;
	color: #ccc;
	font-size: 10px;
	text-transform: uppercase;
	outline: none;
}

	#profile-page button.update-photo.has-photo{
		border: none;
		background-size:cover;
	}

	#profile-page button.update-photo.has-photo span{
		display: none;
	}

	#profile-page button.update-photo:hover{
		border-color: #3299BB;
	}

.branding .placeholder{
	display: inline-block;
	background-color: #f0f0f0;
	max-width: 502px;
	border: 1px solid #fff !important;
	cursor: pointer;
}

	.branding .placeholder img{
		max-height: 200px;
		max-width: 500px;
	}

	.branding .placeholder{
		border: 2px solid #f8f8f8;
		min-width: 50px;
		min-height: 50px;
	}

	.branding .placeholder{
		border: none;
	}

	.branding .placeholder:hover{
		border: 1px dashed #3299BB !important;
	}

	.branding .form-group{
		margin-bottom: 50px;
	}

	.branding .placeholder.paypal, #branding-page .placeholder.paypal img{
		max-width: 150px;
	}

	.branding .placeholder.touch, #branding-page .placeholder.touch img{
		max-width: 200px;
	}

	.branding .form-group small{
		display: block;
		margin-top: 10px;
		color: #888;
	}

	.branding input#iconBg{
		max-width: 200px;
	}

/* colors page */
.colors .form-group{
	position: relative;

}

.colors form h2{
	font-size: 22px;
}

.colors .form-group .sp-replacer{
	float: right;
	margin-top: -30px;
	margin-right: 5px;
	border: none;
	background-color: #fff;
}

	.colors .form-group .sp-replacer .sp-dd{
		color: #aaa;
		font-size: 7px;
	}

/* roles page */
.roles .table{
	margin-top: 30px;
}

	.roles .table thead small{
		display: block;
		color: #aaa;
		font-weight: normal;
		text-transform: uppercase;
	}

/* notice */
section.notice a{
	display: block;
	background: #81b841;
	padding: 10px 20px;
	color: #fff;
	line-height: 20px;
}

section.notice .days-left{
	display: inline-block;
	font-weight: bold;
	margin-right: 5px;
	padding-right: 10px;
	border-right: 1px solid rgba(255,255,255,.25);
}

section.notice a i{
	margin-left: 5px;
}

/* signup */
.signup .pay{
	padding-top: 20px;
}

.thankyou-content{
	margin: 0 20px;
}

	.thankyou-content h2, .thankyou-content h3{
		margin: 25px 0;
		padding: 0;
	}

	.thankyou-content p{
		margin: 0 0 20px 0;
		padding: 0;
		font-size: 15px;
	}

/* carousel styles */
body .carousel{
	border: 1px solid #f0f0f0;
}

body .carousel .carousel-control{
	background: none;
	z-index: 100;
}

	body .carousel .carousel-control i{
		position: absolute;
		top: 50%;
		left: 5px;
		box-shadow: none;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background-color: #aaa;
		color: #fff;
		border-radius: 50%;
		text-shadow: none;
	}

	body .carousel .carousel-control.right{
		opacity: 1;
	}

	body .carousel .carousel-control.right i{
		left: auto;
		right: 5px;
		background-color: #81b841;
	}

	body .carousel .carousel-caption{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-shadow: 0;
		background-color: #aaa;
		margin: 0;
		padding: 0;
		height: auto;
	}

		body .carousel .carousel-caption p{
			text-shadow: none;
			color: #fff !important;
			margin: 0 !important;
			padding: 15px;
			font-size: 14px !important;
			text-align: center !important;
		}

		body .carousel .carousel-caption p b{
			text-transform: uppercase;
			margin-right: 15px;
		}

		body .carousel .carousel-caption p a{
			color: #fff;
			display: inline-block;
			padding: 5px 15px;
			margin: 0 0 0 5px;
			border: 1px solid #fff;
		}

	#update-theme{
		max-width: 1000px;
		margin: 20px;
	}

/* configure */
.configure{
	overflow: hidden;
}

.configure .main{
	height: calc(100% - 65px);
	padding: 0 !important;
}

.configure iframe{
	width: calc(100% - 250px);
	height: 100%;
	border: none;
}

body.configure > .ng-scope, body.configure > .ng-scope > div.ng-scope {
	height: 100%;
}

.allow-breaks{
	white-space: pre;
}

/* system message */
.system-message{
	display: block;
	text-align: center;
	background-color: #8FBE00;
	color: #fff;
	padding: 10px 0;
}

	.system-message p{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 13px;
	}

/* Large desktop */
@media (min-width: 1200px) { }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    header{
    	margin-left: -350px;
    }


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    header{
        margin-left: -100%;
    	width: 100%;
    }

    body.show-nav section{
        width: 0%;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {  }

body.content{
	background-color: #f0f0f0;
}

/* editor actions */
.editable-content:empty{
	background-color: #fff;
	height: 40px;
	line-height: 40px;
}

.respond-element{
	padding: 5px !important;
	cursor: pointer;
}

.current-node{
	background-color: rgba(200, 227, 237, .15) !important;
}

.current-node input[type=text]{
	background-color: rgba(200, 227, 237, .15) !important;
}

/* #editor-menu */
#editor-menu{
	background-color: #aaa;
	padding: 0;
}

	#editor-menu.sticky{
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1000;
	    width: 100%;
	}

.editor-menu{
	overflow: hidden;
}

.editor-actions{
    padding: 0 10px;
    margin: 0;
    height: 50px;
    z-index: 900;
}

    .editor-actions div{
        width: 1804px;  /* 41 * 41 = 1681 */
        height: 50px;
        margin: 0;
        padding: 0;
    }

	.editor-actions a.primary-action{
	    position: absolute;
	    top: 0;
	    right: 50px;
	    width: 50px;
	    text-align: center;
	    margin: 0;
	    padding: 0;
	}

		.editor-actions a.primary-action.settings{
		    right: 0;
		}

	.editor-actions a, .draggable{
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
		margin: 5px 1px 5px 0;
		padding: 0;
		text-align: center;
		line-height: 40px;
		color: #fff;
		vertical-align: top;
		background-color: transparent;
		border-radius: 50%;
		font-size: 13px;
		border: 1px solid transparent;
	}

		.editor-actions a.active{
			border: 1px solid rgba(255,255,255,0.95);
		}

		body>.draggable{
			background-color: #3299BB;
			color: #fff;
			z-index: 100000;
		}

		.editor-actions a.draggable{
			cursor: move;
		}

	    .editor-actions a:hover{
	        background-color: rgba(255,255,255,.25);
	        text-decoration: none;
	    }

	    .editor-actions small{
	        position: absolute;
	        width: 100%;
	        height: 12px;
	        line-height: 12px;
	        text-align: center;
	        bottom: 0;
	        right: 0;
	        color: #888;
	        font-size: 0.65em;
	        margin: 0;
	    }




/* editor */
.editor{
	text-align: left;
    position: relative;
}

	.editor .editor-highlight{
	    border: 1px solid #fbec5d !important;
	    background: #fbec5d !important;
	    min-height: 50px;
	    display: block;
	}

	.editor{
	    position: relative;
	}

	.editor.container{
		margin: 0;
	    z-index: 100;
	    margin-left: 10px;
	    margin-top: 10px;
	    width: calc(100% - 270px);
	    border: 1px solid #ccc;
	    background-color: #fff;
	    box-shadow: 2px 3px 4px rgba(119,119,119,0.4);
	    padding: 0;
	    z-index: 999;
	    min-height: 1000px;
	}

	.editor.container .row{
		margin-right: 0;
		margin-left: 0;
	}


	/* block */
	.editor .block{
		position: relative;
		min-height: 50px;
		padding-bottom: 0;
		padding-top: 38px;
		border-bottom: 1px solid #ddd !important;
		display: flex;
	}

		/* flex width - .col-md-12 */
		.editor .block .flex-100{
			width: 100%;
		}

		/* flex width - .col-md-11 */
		.editor .block .flex-91{
			width: 91.666%;
		}

		/* flex width - .col-md-10 */
		.editor .block .flex-83{
			width: 83.333%;
		}

		/* flex width - .col-md-9 */
		.editor .block .flex-75{
			width: 75%;
		}

		/* flex width - .col-md-8 */
		.editor .block .flex-66{
			width: 66.666%;
		}

		/* flex width - .col-md-7 */
		.editor .block .flex-58{
			width: 58.333%;
		}

		/* flex width - .col-md-6 */
		.editor .block .flex-50{
			width: 50%;
		}

		/* flex width - .col-md-5 */
		.editor .block .flex-41{
			width: 41.666%;
		}

		/* flex width - .col-md-4 */
		.editor .block .flex-33{
			width: 33.33333%;
		}

		/* flex width - .col-md-3 */
		.editor .block .flex-25{
			width: 25%;
		}

		/* flex width - .col-md-2 */
		.editor .block .flex-16{
			width: 16.666%;
		}

		/* flex width - .col-md-1 */
		.editor .block .flex-8{
			width: 8.333%;
		}

		.editor .block div.respond-p[data-cssclass~=text-center] div,
		.editor .block div.respond-h1[data-cssclass~=text-center] div,
		.editor .block div.respond-h2[data-cssclass~=text-center] div,
		.editor .block div.respond-h3[data-cssclass~=text-center] div{
			text-align: center;
		}

		.editor .block div.respond-p[data-cssclass~=text-left] div,
		.editor .block div.respond-h1[data-cssclass~=text-left] div,
		.editor .block div.respond-h2[data-cssclass~=text-left] div,
		.editor .block div.respond-h3[data-cssclass~=text-left] div{
			text-align: left;
		}

		.editor .block div.respond-p[data-cssclass~=text-right] div,
		.editor .block div.respond-h1[data-cssclass~=text-right] div,
		.editor .block div.respond-h2[data-cssclass~=text-right] div,
		.editor .block div.respond-h3[data-cssclass~=text-right] div{
			text-align: right;
		}

	.editor .block:last-child{
	  	border-bottom: none;
	}

	/* draws the line b/w columns */
	.editor .block .col{
		position: relative;
		padding: 0;
		margin-bottom: 0;
		vertical-align: top;
		min-height: 40px;
		border-left: 1px solid #ddd;
	}

		.editor .block .col:first-child{
			border-left: 0;
		}

		.editor .block .col:empty{
			background-color: #fff !important;
			height: 40px;
			line-height: 40px;
		}

		.editor .block .col:first-child{
			margin-left: 0;
			border-left: 0;
		}

		.editor .block .col-md-12{
			border: 0;
			margin: 0;
		}

		.editor .block .col-md-4:nth-child(3){
			margin-right: 0;
			border-right: 0;
		}

		.editor .block .col-md-6:nth-child(2){
			margin-right: 0;
			border-right: 0;
		}

		.editor .block .col-md-3:last-child{
			margin-right: 0;
			border-right: 0;
		}

		.editor .block .col-md-9:nth-child(2){
			margin-right: 0;
			border-right: 0;
		}

		.editor .block .col-md-3:nth-child(4){
			margin-right: 0;
			border-right: 0;
		}

	.editor .block div.col:empty{
		background: #fff;
	}

	.editor .block div.col>div{
		position: relative;
		margin: 0 !important;
		padding: 0;
		border: 0;
		font-size: 13px;
		line-height: 18px;
		background: #fff;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
	}

	.editor .block div.col>div:last-child{
		border-bottom: none;
	}

	.editor .block div.col div div{
		margin: 0; padding: 0;
	}

	.editor .block div.col div + div{
	  	/*margin-top: 10px;*/
	}

	.editor .block div.col>div div[contentEditable=true]{
		margin: 0;
		padding: 20px;
		min-height: 25px;
	}

	.editor .block div.col div div[contentEditable=true]:focus{
	 	outline: none !important;
	}

	.editor .block div.respond-h1 div{
		font-size: 30px;
		font-weight: bold;
	}

	.editor .block div.respond-h2 div{
		font-size: 25px;
		font-weight: bold;
	}

	.editor .block div.respond-h3 div{
		font-size: 20px;
		font-weight: bold;
	}

	.editor .block div.respond-h4 div{
		font-size: 18px;
		font-weight: bold;
	}

	.editor .block div.respond-h5 div{
		font-size: 16px;
		font-weight: bold;
	}

	.editor .block div.respond-p div,
	.editor .block div[contentEditable=true]{
		font-size: 15px;
		line-height: 25px;
	}

		.editor .block div.respond-ul div[contentEditable=true]{
			background: url('../images/bullet.png') no-repeat 5px 23px;
			padding-left: 25px !important;
		}

		.editor .block div.respond-ol{
			counter-reset: section;
		}

		.editor .block div.respond-ol div[contentEditable=true]:before{
			counter-increment: section;
			content: counter(section) '. ';
			color: #ddd;
			margin-right: 2px;
		}

	/* element menu */
	.editor .move{
		position: absolute;
		width: 30px;
		height: 30px;
		line-height: 30px !important;
		font-size: 15px;
		text-align: center;
		top: 0;
		right: 0;
		color: #fff;
		cursor: pointer;
		text-decoration: none;
		z-index: 101;
		background-color: rgba(221, 221, 221, 0.5);
		display: none;
	}

		.editor .block div.col>div:hover .move{
			display: block;
		}

		.editor .move:hover{
			background-color: #3299bb;
			color: #fff;
			cursor: move;
		}

	.editor .expand-menu{
		position: absolute;
		width: 40px;
		height: 40px;
		line-height: 40px !important;
		font-size: 20px;
		text-align: center;
		top: 0;
		right: 0;
		color: #ccc;
		cursor: pointer;
		text-decoration: none;
		z-index: 101;
	}

		.editor .block .col div:hover .expand-menu{
			display: block;
		}

		.editor .expand-menu.active,
		.editor .expand-menu:hover,
		.editor .block .col div .expand-menu.active,
		.editor .block .col div .expand-menu:hover{
			display: block;
			opacity: 1;
			background-color: #3299BB;
			color: #fff;
		}

	.editor .element-menu{
		background-color: #f8f8f8;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0 40px 0 0 !important;
		z-index: 10;
		margin-right:-300px !important;
	    -webkit-transition: .2s all ease;
		-moz-transition: .2s all ease;
		-o-transition: .2s all ease;
		-ms-transition: .2s all ease;
		transition: .2s all ease;
		z-index: 99;
	}

		.editor .element-menu.active{
			margin-right: 0 !important;
		}

		.editor .element-menu a{
			position: relative;
			display: inline-block;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			color: #888;
			cursor: pointer;
			font-size: 14px;
			text-decoration: none;
		}

			.editor .element-menu a:hover{
				color: #3299BB;
				background-color: #f8f8f8;
			}

			.editor .element-menu a.remove:hover, .editor .element-menu a.remove-block:hover{
				color: #B11623;
			}

	/* form-group */
	.editor .field-container{
		overflow: hidden;
	}

	.editor .field-container .element-menu{
		z-index: 97;
		top: -1px;
		right: -1px;
	}

	/* .respond-form */
	.respond-form{
		padding: 0 0 15px 0 !important;
	}

	.respond-form .mock-field{
		height: 40px;
		line-height: 40px;
		border: 1px solid #ddd;
		background-color: #fff;
	}

		.respond-form .mock-field:hover{
			cursor: move;
		}

		.respond-form label{
			padding: 0 0 5px 0;
			margin: 0;
		}

		.respond-form .mock-field .field-type{
			display: inline-block;
			width: 100px;
			background-color: #ddd;
			color: #888;
			padding: 0 10px;
			margin: 0;
			float: left;
			height: 39px;
			text-align: center;
			text-transform: uppercase;
			font-size: 11px;
		}

		.respond-form .mock-field .placeholder{
			display: inline-block;
			margin-left: 10px;
			color: #aaa;
		}

		.respond-form .helper-text{
			display: block;
			margin-top: 5px;
			color: #888;
			font-weight: normal;
		}

	/* textareas and textboxes */
	.editor .block .respond-file input,
	.editor .block .respond-map input{
		display: block;
		width: 100%;
		padding: 28px 10px 28px 70px;
		margin: 0;
		outline: none !important;
		color: #555;
		font-size: 14px;
	}


	/* facebook, featured, etc */
	.editor .block .title{
		color: #555;
		padding: 5px 0 15px 0 !important;
		margin: 0 !important;
		font-size: 14px;
	}

		.editor .block .title i{
			font-size: 15px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin-right: 20px;
			margin-left: 20px;
			border-radius: 50%;
			margin-top: 10px;
		}

		.editor .block .title i{
			color: #fff;
			background-color: #4F8B9D;
		}

		.editor .block .respond-like .title i,
		.editor .block .respond-comments .title i{
			color: #fff;
			background-color: #3B5998;
		}

		.editor .block .respond-content .title i{
			color: #fff;
			background-color: #fbec5d;
		}

		.editor .block .respond-login .title i,
		.editor .block .respond-registration .title i{
			color: #fff;
			background-color: #d37466;
		}

		.editor .block .respond-list .title i{
			color: #fff;
			background-color: #AA65A9;
		}

		.editor .block .respond-menu .title i{
			color: #fff;
			background-color: #BE705E;
		}

		.editor .block .respond-html .title i{
			color: #fff;
			background-color: #AA571B;
		}

		.editor .block .respond-video .title i{
			color: #fff;
			background-color: #00A1CB;
		}

		.editor .block .respond-shelf .title i{
			color: #fff;
			background-color: #47BE44;
		}

		.editor .block .respond-form .title i{
			color: #fff;
			background-color: #985D67;
		}

		.editor .block .respond-pre .title i{
			color: #fff;
			background-color: #985D67;
		}

	/* respond-html */
	.editor .block .respond-html div,
	.editor .block .respond-video div,
	.editor .block .respond-pre div{
		cursor: pointer;
	}

	.editor .block .respond-html textarea,
	.editor .block .respond-video textarea,
	.editor .block .respond-pre textarea{
		border: 1px solid #ccc !important;
		margin-bottom: 20px;
		display: none;
		width: 100%;
		height: 100px;
	}

		.editor .block .respond-html.active textarea,
		.editor .block .respond-video.active textarea,
		.editor .block .respond-pre.active textarea{
			display: block;
		}

	.editor .block .respond-html i.fa-angle-down,
	.editor .block .respond-video i.fa-angle-down,
	.editor .block .respond-pre i.fa-angle-down{
		background-color: transparent;
		color: #ccc;
		margin-left: 5px;
	}

		.editor .block .respond-html.active i.fa-angle-down,
		.editor .block .respond-video.active i.fa-angle-down,
		.editor .block .respond-pre.active i.fa-angle-down{
			-webkit-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}


	/* respond-file and respond-map  */
	.editor .block .respond-file i,
	.editor .block .respond-map i,
	.editor .block .respond-q i{
		position: absolute;
		top: 20px;
		left: 20px;
		background-color: #94D237;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		border-radius: 50%;
		text-align: center;
	}

		.editor .block .respond-q i{
			background-color: #EBF966;
			color: #fff;
		}

		.editor .block .respond-map i{
			background-color: #D25F37;
			color: #fff;
		}

	/* respond-syntax */
	.editor .block .respond-syntax{
		padding: 10px !important;
	}

		.editor .block .respond-syntax pre{
			border-radius: 0;
		}

	/* quote */
	.editor .block .respond-q div[contentEditable=true]{
		padding-left: 70px !important;
		padding-top: 15px !important;
		min-height: 55px !important;
	}

	/* handle image */
	.editor .block div.image{
		box-sizing: border-box;
	}


	.editor .block div.respond-image div[contentEditable=true],
	.editor .block div.respond-image img{
		display: inline-block !important;
		box-sizing: border-box !important;
		margin-bottom: 15px !important;

	}

	.editor .block div.respond-image div[contentEditable=true]{
		vertical-align: top;
		margin: 0;
		padding: 0;
		width: calc(50% - 20px) !important;
	}

	.editor .block div.respond-image img{
	  	cursor: pointer;
	  	display: inline-block;
		width: calc(100% - 40px);
		box-sizing: border-box;
		max-width: 100%;
		margin: 20px;
		margin-right: 10px !important;
	}

	.editor .block div[data-display="left"] img,
	.editor .block div[data-display="right"] img{
		width: 50%;
		margin: 0;
		padding: 0;
	}

	.editor .block div[data-display="left"] img{
		margin-left: 5px;
	}

	.editor .block div[data-display="right"] img{
		margin-right: 5px;
	}


	.editor .block div.col>div.respond-image div[contentEditable=true]{
		margin-right: 0 !important;
	}

	/* begin block actions */
	.editor .block-actions{
		position: absolute;
		box-sizing: border-box;
		top: 0;
		left: 0;
		height: 40px;
		width: 100%;
		line-height: 40px;
		display: inline-block;
		margin-top: -1px;
		text-align: right;
		color: #fff;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		cursor: pointer;
		background-color: #f8f8f8;
	}

	.editor span.block-actions span{
		position: absolute;
		left: 20px;
		display: inline-block;
		padding-left: 5px;
		text-transform: uppercase;
		font-size: 13px;
		color: #aaa;
	}

	.editor .block-actions .block-callout{
		position: absolute;
		top: 5px;
		right: 40px;
		display: block;
		width: 28px;
		height: 28px;
		border: 1px solid #ddd;
		border-radius: 50%;
		padding-left: 5px;
	}

	/* begin block actions */
	.editor .block a.up.disabled,
	.editor .block a.up.disabled:hover{
		display: none !important;
	}

	.editor .block a.down.disabled,
	.editor .block a.down.disabled:hover{
		display: none !important;
	}

	/* .prettyprint */
	.editor .block pre.prettyprint{
		border-radius: 0 !important;
		margin: 0 10px;
	}

	.editor .block pre.prettyprint ol{
		margin-left: 0;
		padding-left: 35px;
	}

	.editor pre.non-pretty{
		display: none;
	}

	/* begin markers */
	.editor .block div .marker,
	.editor .block div .marker-field,
	.editor .block div .marker-item{
		position: absolute;
		top: 0;
		left: -25px;
		padding: 0;
		color: #888;
		font-size: 10px;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		cursor: move;
		background: #3299BB;
		color: #fff;
	}

	.editor div.date div{
		vertical-align: middle;
	}

	.editor .block div .marker:hover,
	.editor .block div .marker-field:hover,
	.editor .block div .marker-item:hover{
	    background-color: #ccc;
	}

	/* shelf */
	.editor .block .shelf .shelf-group1,
	.editor .block .shelf .shelf-group2{
		display: inline-block;
		width: 50%;
	}


	.editor .block .shelf .shelf-group3{
		display: none;
	}

	.editor .block .shelf .skus{
		padding-top: 7px;
	}


	/* respond-shelf */
	.editor .block .respond-shelf span.editor-highlight{
		display: inline-block;
		width: 100%;
		height: 30px;
		margin: 0 40px 0 10px;
		padding: 20px;
		margin: 0 0 5px 0;
		border: 1px solid #f0f0f0;
		border: 1px solid #fbec5d !important;
		background: #fbec5d !important;
		vertical-align: top;
	}

	.editor .shelf-item{
		position: relative;
		margin: 0 10px 0 10px;
		padding: 0 10px;
		cursor: pointer;
		border: 1px solid #fff;
		cursor: move;
	}

		.editor .shelf-item i{
			position: absolute;
			top: 5px;
			left: 5px;
			display: inline-block;
			line-height: 25px;
			text-align: center;
			width: 25px;
			height: 25px;
			background-color: #94D237;
			color: #fff;
		}

		.editor .shelf-item h4{
			margin: 0;
			padding: 0 0 5px 35px;
		}

		.editor .shelf-item small{
			display: block;
			margin: 0;
			padding: 0 0 5px 35px;
			color: #888;
		}

	/* .respond-slideshow */
	.editor .block .respond-slideshow, .editor .block .respond-gallery{
		padding: 20px !important;
	}

	.editor .block .respond-slideshow div.images, .editor .block .respond-gallery div.images{
		min-height: 115px;
		margin: 0 10px 0 0;
	}

	.editor .block .respond-slideshow div.images, .editor .block .respond-gallery div.images{
		vertical-align: top;
	}

	.editor .block .respond-slideshow button, .editor .block .respond-gallery button{
		vertical-align: top;
		width: 202px;
		height: 202px;
		background: #fff;
		border: 1px solid #ddd;
		cursor: pointer;
		margin-right: 5px;
		margin-bottom: 5px;
		border-radius: 0;
		box-shadow: none;
		outline: none;
	}

		.editor .block .respond-slideshow button i{
			color: #aaa;
		}

	.editor .block .respond-slideshow button:hover, .editor .block .respond-gallery button:hover{
		border: 1px solid #3299BB;
	}

		.block .respond-slideshow button:hover i, .block .respond-gallery button:hover i{
			color: #3299BB;
		}

	.editor .block .respond-slideshow span.image, .editor .block .respond-slideshow span.image{
		display: inline-block;
		margin: 0 5px 5px 5px;
		margin: 0 5px 0 0;
		background: #f8f8f8;
		position: relative;
		vertical-align: top;
		cursor: move;
	}

	.editor .block .respond-slideshow span.image.edit, .editor .block .respond-gallery span.image.edit{
		z-index: 50;
	}

	.editor .block .respond-slideshow span.image img, .editor .block .respond-gallery span.image img{
		border: 1px solid #ddd;
		width: 200px;
		height: 200px;
	}

	.editor .block .respond-slideshow span.image img.current-element, .editor .block .respond-gallery span.image img.current-element{
		border: 1px solid #3299bb;
	}

	.editor .block .respond-slideshow span.image span.caption, .editor .block .respond-gallery span.image span.caption{
		display: block;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 5px;
		left: 5px;
	}

	/* handle hr */
	.editor .block div.respond-hr .line{
		border: 0;
		margin: 0 20px 20px 20px !important;
		padding: 0 0 25px 0 !important;
		border-bottom: 2px solid #ccc;
	}

	/* handle list */
	.editor .block div div input[type=text]{
		border: none;
	}

	.editor .block div.respond-map div input,
	.editor .block div.respond-file div input{
		width: 100%;
	}

	.editor .block div.respond-file div em{
		display: none;
	}

	.editor .block div.respond-file div .form-control{
		display: block;
		width: 100%;
	}

	/* cart */
	.editor .block div.respond-cart input{
		margin-left: 5px;
		margin-top: 0;
	}

	/* fields */
	.editor .block .respond-form span.editor-highlight{
		display: inline-block;
		width: 100%;
		height: 30px;
		margin: 0 40px 0 10px;
		padding: 20px;
		margin: 0 0 5px 0;
		border: 1px solid #f0f0f0;
		border: 1px solid #fbec5d !important;
		background: #fbec5d !important;
		vertical-align: top;
	}

	.editor .block .field-container{
		position: relative;
		display: block;
		margin: 0 40px 0 10px;
		padding: 5px 10px 10px 10px;
		cursor: pointer;
		border: 1px solid #fff;
	}

		.editor .block .field-container input,
		.editor .block .field-container textarea,
		.editor .block .field-container select{
			width: calc(100% - 25px);
		}

	    .editor .block .field-container .radio,
	    .editor .block .field-container .checkbox{
	        margin-left: 20px;
	    }

	    .editor .block .field-container .list{
	        margin-bottom: 0;
	    }

	    .editor .block .field-container:last-child{
	        margin-bottom: 15px;
	    }

	    .editor .add-field,
	    .editor .add-sku{
	    	display: block;
	    	width: 100%;
	    	width: calc(100% - 10px);
	        margin: 10px 5px 5px 5px;
	        padding: 10px 0;
	        background: #fff;
	        color: #888;
	        border: 1px solid #f0f0f0;
	        box-sizing: border-box;
	        text-align: center;
	        outline: none;
	    }

	    	.editor .block .add-field i,
	    	.editor .add-sku i,
	    	.editor .add-event i{
		    	margin-right: 5px;
		    	font-size: 18px;
	    	}

	    	.editor .block .add-field:hover,
	    	.editor .add-sku:hover,
	    	.editor .add-event:hover{
		    	color: #3299BB;
		    	text-decoration: none;
	    	}

	.editor .block span.field{
		margin: 0;
		padding: 0;
	}

	.editor .block span.list{
		display: block;
		width: auto;
	}

	.editor .block span.list label{
		display: block;
		text-align: left;
		margin: 1px 0 4px 0;
		padding: 0;
		width: auto;
	}

	.editor .block span.list label label{
		display: inline;
	}

	.editor .block span.list label input[type=radio], .block span.list label input[type=checkbox]{
		display: inline-block;
		width: auto;
		margin-right: 5px;
	}

	/* tabs */
	.editor .nav-tabs>li{
		padding: 0 !important;
	}

	.editor .nav-tabs>li>a{
		outline: none;
		cursor: text;
	}

	.editor .nav>li>a:focus{
		outline: none;
	}

	.editor .nav-tabs{
		margin: 0 0 10px 0;
	}

	/* table */
	.editor .block div.respond-table{
		padding: 10px 0 10px 0 !important;
		width: auto !important;
	}

		.editor .block div.respond-table th, .block div.respond-table td{
			outline: none;
			font-size: 1.1em;
		}


	.editor div.respond-table table{
		min-width: 50%;
		margin: 0 10px 0 10px !important;
		width: calc(100% - 20px);
	}

	.editor div.respond-table table.col-2 td{
		width: 50%;
	}

	.editor div.respond-table table.col-3 td{
		width: 33%;
	}

	.editor div.respond-table table.col-4 td{
		width: 25%;
	}

	.editor div.respond-table table.col-5 td{
		width: 20%;
	}

	.editor div.respond-table table.col-6 td{
		width: 16%;
	}

	.editor div.respond-table table.col-7 td{
		width: 14%;
	}

	.editor div.respond-table table.col-8 td{
		width: 12.5%;
	}

	.editor div.respond-table table.col-9 td{
		width: 11%;
	}

	.editor div.respond-table table.col-10 td{
		width: 10%;
	}

	.editor div.respond-table table td{
		margin: 0;
		padding: 5px 8px !important;
	}

	.editor div.respond-table table td div{
		margin: 0;
	}

	.editor div.respond-table tr.curr-row td{
		background-color: rgba(200, 227, 237, .15) !important;
	}

/* layouts */
.content .layouts{
	margin-left: 10px;
}

	.content .layouts h4{
		padding-left: 0;
	}

	.content .layouts button{
		position: relative;
		display: inline-block;
		margin: 0 10px 10px 0;
		padding: 5px 5px 25px 5px;
		border: 0;
		background-color: #fff;
	}

		.content .layouts button img{
			width: 200px;
			height: 200px;
			margin: 0;
			padding: 0;
		}

		.content .layouts button small{
			position: absolute;
			left: 0;
			bottom: 5px;
			width: 210px;
			text-align: center;
			color: #888;
		}


	.content .wrap{
		color: #fff;
		right: 20px;
		background-color: #99B2B7;
		display: inline-block;
		padding: 5px 10px;
		border-radius: 10px;
		font-size: 12px;
	}

		.content .wrap code{
			background-color: #E9E9E9;
			color: #99B2B7;
		}

    body.login{}

    	body.login .main{
    		text-align: center;
    		padding: 50px 20px;
    	}

    	body.login .main h1{
    		font-family: "Roboto Condensed", sans-serif;
    		font-size: 45px;
    	    color: #777;
    		text-transform: uppercase;
    		font-weight: bold;
    		margin: 50px 0 0 0;
    		padding: 0 0 50px 0;
    		height: auto;
    	}

    	body.login .main h2.title{
    		position: relative;
    		border: 1px solid #f8f8f8;
    		font-size: 15px;
    		color: #fff;
    		padding: 15px;
    		color: #aaa;
    		text-transform: uppercase;
    		margin-bottom: 25px;
    		text-align: left;
    		margin-top: 25px;
    		font-weight: normal;
    	}

    		body.login .main h2.title .step{
    			display: inline-block;
    			background-color: #81b841;
    			width: 40px;
    			height: 40px;
    			line-height: 40px;
    			text-align: center;
    			color: #fff;
    			margin-right: 25px;
    			border-radius: 50%;
    		}

    		body.login .main h2.title a{
    			position: absolute;
    			top: 28px;
    			right: 15px;
    			font-weight: normal;
    			font-size: 12px;
    		}

    	body.login .main .col-md-12{
    		text-align: left;
    	}

    		body.login .main .col-md-12 .image-list{
    			margin: 0;
    		}

    	body.login .main p{
    		font-family: "Roboto", sans-serif;
    		font-size: 16px;
    		text-align: center;
    		margin-bottom: 35px;
    		color: #aaa;

    	}

    	body.login .advanced{
    		display: none;
    	}

    	body.login .future h2{
    		background-color: #f0f0f0;
    	}

    	body.login .future .container-fluid{
    		display: block;
    	}

    		body.login .future h2.title .step{
    			background-color: #aaa !important;
    		}

    	body.login fieldset{
    		max-width: 900px;
    		text-align: center;
    		border-bottom: none;
    		margin: 0 auto;
    		padding: 0;
    	}

    	body.login fieldset.login,
    	body.login fieldset.forgot,
    	body.login fieldset.reset{
    		max-width: 400px;
    	}

    		body.login .main fieldset p{
    			text-align: left;
    		}

    		body.login .main fieldset label{
    			color: #808080;
    			font-size: 14px;
    		}

    	body.login .form-group{
    		position: relative;
    		margin: 0 0 25px 0;
    	}

    	body.login .divider{
    		padding-bottom: 10px;
    		margin-bottom: 30px;
    		border-bottom: 1px solid #ddd;
    	}

    		body.login .spacer{
    			padding-bottom: 40px;
    		}

    		body.login .actions{
    			position: relative;
    			display: block;
    			text-align: right;
    			margin: 0;
    			padding: 0;
    		}

    		body.login p.alternate{
    			margin-top: 35px;
    			text-transform: uppercase;
    			font-size: 14px;
    		}

    		body.login .forgot-link{
    			float: right;
    		}

    	body.login .main fieldset label{
    		width: 100%;
    		text-align: left;
    		font-size: 15px;
    	}

    	body.login .actions{
    		margin-top: 25px;
    	    display: block;
    	    width: 100%;
    	}

    		body.login .actions button i{
    			display: inline-block;
    			margin-left: 5px;
    			margin-right: -10px;
    			margin-top: -2px;
    			font-size: 13px;
    			background-color: #fff;
    			width: 20px;
    			height: 20px;
    			line-height: 20px;
    			text-align: center;
    			border-radius: 50%;
    			color: #3299bb;
    		}

    	body.login small{
    		text-transform: uppercase;
    		margin-top: 50px;
    		padding-bottom: 50px;
    	    color: #aaa;
    	    display: block;
    	    text-align: center;
    	}

    	body.login .demo b{
    		display: inline-block;
    		color: #fff;
    	}

    	body.login .footer{
    		margin: 100px auto;
    		text-align: center;
    	}

    	body.login p.site-name{
    		margin-top: 5px;
    		font-size: 14px;
    		color: #bbb;
    		margin-bottom: 0;
    		padding-bottom: 0;
    		height: 25px;
    		line-height: 25px;
    		display: none;
    	}

    		body.login p.site-name span{
    			font-weight: bold;
    			display: inline-block;
    			padding: 0;
    			margin: 0 0 0 2px;
    			color: #3299bb;
    		}

    	/* test styles */
    	body.login table.test{
    	    width: 500px;
    	    margin: 25px auto 50px auto;
    	    text-align: left;
    	}

    	    body.login table.test tr{
    	        border-bottom: 1px solid #ddd;
    	    }

    	    body.login table.test tr:last-child{
    	        border-bottom: none;
    	    }

    	    body.login table.test td{
    	        padding: 15px;
    	    }

    	    body.login table.test td.test{
    	        width: 80%;
    	        font-size: 15px;
    	        text-transform: uppercase;
    	    }

    	    body.login table.test td.result{
    	        width: 20%;
    	        text-align: right;
    	    }

    	    body.login table.test i{
    	        font-size: 30px;
    	    }

    	/* brand */
    	body.login .brand img{
    		max-height: 50px;
    	}

    	body.login .terms{
    		display: inline-block;
    		margin-right: 10px;
    	}

    	body.login .terms i{
    		color: #ccc;
    		margin-right: 5px;
    	}
